html {
  font-size: 10px;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#root {
  width: 600px;
  height: 600px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  .title{
    margin: 1%;
    color: blue;
    letter-spacing: 0.25rem;
    margin-bottom: 2%;
  }

  .person {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70%;
    margin: 0.25%;
    padding: 1%;
    border-radius: 3%;    
    background-color: lightblue;
  }
    .remove-person {
      font-size: 2rem;
      width: 25%;
      padding: 2%;
      margin-right: 1%;
      border: none;      
      background-color: transparent;
      color: blue
    }
    .image {
      width: 35%;
      border-radius: 15%;
      margin: 0 3%;
      border: solid black 1px;
    }
    .name {
      font-size: 2rem;
      margin: 0 auto;
    }
    .age {
      font-size: 1.25rem;
      margin: 0 auto;
    }
  
  .clear-all {
    font-size: 1.5rem;
    width: 72%;
    padding: 1%;
    margin-top: 1%;
    border-radius: 3%;
    border: none;
    background-color: blue;
    color: white
  }

  .refresh {
    font-size: 2rem;
    letter-spacing: 1rem;
    width: 60%;
    padding: 2%;
    margin-top: 3%;
    border-radius: 3%;
    border: none;
    background-color: blue;
    color: white
  }

@media (max-width: 1024px) {
  #root {
    width: 560px;
    height: 560px;
  }

  html {
    font-size: 7px;
  }
}

@media (max-width: 768px) {
  #root {
    width: 420px;
    height: 420px;
  }
}

@media (max-width: 576px) {
  #root {
    width: 350px;
    height: 350px;
  }

  html {
    font-size: 6px;
  }
}

@media (max-width: 425px) {
  #root {
    width: 240px;
    height: 240px;
  }

  html {
    font-size: 4px;
  }
}
